* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

#app {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); 
  gap: 20px; 
  padding: 20px;
  max-width: 1200px; 
  margin: 0 auto; 
}

section {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px;
  min-height: 0; 
  height: auto; 
}
section:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.exp { grid-area: 1 / 1 / 3 / 3;
grid-row: auto } 
.edu { grid-area: 3 / 1 / 5 / 3;
grid-row: auto }
.lang { grid-area: 1 / 3 / 2 / 4;
grid-row: auto }

.experience {
  grid-column: span 2; /* Занимает 2 колонки */
  grid-row: span 2; /* Занимает 2 строки */
}
.languages {
  grid-column: span 1;
  grid-row: span 1;
}

div div {
  margin: 5px 0;
}

@media (max-width: 768px) {
  #app {
    grid-template-columns: 1fr; /* Одна колонка на мобильных */
  }
  section {
    grid-column: span 1 !important; /* Все карточки в одну колонку */
  }
}